# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/

# Django
db.sqlite3
*.log

# Media Files
media/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Environment Variables
.env